-- ============================================================
-- DB Refactoring: Problem Table Separation & Statistics Integration
-- PostgreSQL Migration Script
-- ============================================================

-- 1. Create subjective_problems table (주관식 문제)
CREATE TABLE IF NOT EXISTS subjective_problems (
    id BIGSERIAL PRIMARY KEY,
    subject_id INTEGER REFERENCES subject(id),
    question VARCHAR(1000) NOT NULL,
    answer VARCHAR(500) NOT NULL,
    explanation VARCHAR(2000),
    difficulty INTEGER,
    is_ai_generated BOOLEAN NOT NULL DEFAULT FALSE,
    created_at TIMESTAMP,
    updated_at TIMESTAMP
);

-- 2. Create programming_language_problems table (프로그래밍 언어 문제)
CREATE TABLE IF NOT EXISTS programming_language_problems (
    id BIGSERIAL PRIMARY KEY,
    subject_id INTEGER REFERENCES subject(id),
    prog_language VARCHAR(64) NOT NULL,
    question VARCHAR(1000) NOT NULL,
    answer VARCHAR(500) NOT NULL,
    explanation VARCHAR(2000),
    difficulty INTEGER,
    is_ai_generated BOOLEAN NOT NULL DEFAULT FALSE,
    created_at TIMESTAMP,
    updated_at TIMESTAMP
);

-- 3. Create unified statistics table (통합 통계)
CREATE TABLE IF NOT EXISTS statistics (
    id BIGSERIAL PRIMARY KEY,
    user_id BIGINT NOT NULL REFERENCES "user"(id) ON DELETE CASCADE,
    problem_type VARCHAR(32) NOT NULL,
    reference_id BIGINT NOT NULL,
    is_correct BOOLEAN NOT NULL,
    submitted_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(user_id, problem_type, reference_id)
);

-- 4. Add indexes for performance
CREATE INDEX IF NOT EXISTS idx_subjective_problems_subject_id ON subjective_problems(subject_id);
CREATE INDEX IF NOT EXISTS idx_programming_language_problems_subject_id ON programming_language_problems(subject_id);
CREATE INDEX IF NOT EXISTS idx_programming_language_problems_language ON programming_language_problems(prog_language);
CREATE INDEX IF NOT EXISTS idx_statistics_user_id ON statistics(user_id);
CREATE INDEX IF NOT EXISTS idx_statistics_problem_type ON statistics(problem_type);
CREATE INDEX IF NOT EXISTS idx_statistics_reference_id ON statistics(reference_id);
CREATE INDEX IF NOT EXISTS idx_user_answer_problem_type ON user_answer(problem_type);
CREATE INDEX IF NOT EXISTS idx_user_answer_reference_id ON user_answer(reference_id);
